
/* Main page */

.Main{
    width: 100%;
    background-color: var(--bg-color-primary);
    overflow: hidden;
}

.Main-bottom{
    padding: 0 12.5rem;
}

/*Sección slider*/

.Main-top{
    width: 100%;
    max-width: 150rem; /*verificar en pantallas grandes */
    
    padding: 10.2rem 0 0 0;
    margin: 0 0 3.125rem;

    overflow: hidden;
    position: relative;
}

.Main-message{
    width: 80%;
    min-height: 16rem;
    background-color:var(--bg-main-color);
    backdrop-filter: blur(.375rem);
    border-radius: 2.5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
    font-family: "title";
    text-align: center;
    color: var(--color-primary-text);
    font-size: 4em;
    text-shadow: 2px 3px 5px rgba(2, 2, 2, 0.541);

    position: absolute;
    top:calc(50% - 10rem);
    left: 10%;
    z-index: 2;

}

.Main-slider{
    width: 600%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    transform: translateX(0%);
    

}
.Main-slider.withTransition{
    transition: transform 1s ease;
    
}

.Slider-img{
    width:calc( 100% / 6 );
    max-height: 35rem;
}

/*Sección carrousel*/

.Main-h2{
    font-family: "title";
    font-size: 2.5em;
    color: var(--color-primary-text);

    margin: 5rem 0 0;
}

.Main-p{
    font-family: "title";
    font-size: 1.2em;
    color: var(--color-primary-text);
   
    margin: var(--margin-main-p);
    padding: var(--padding-main-p);
    border-bottom: var(--border-main-p);
}

.Main-carrousel{
    width: 100%;

    border-top: 1.125rem solid rgba(0, 0, 0, 0.4);
    border-bottom: 1.125rem solid rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    padding: 1.875rem 3.125rem;
    
    position: relative;
    margin: 0 auto;
}

.Main-innerCarrousel{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Main-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.Main-wrapperImg {
    width:100%;
    min-height: 20rem;
    border: var(--border-imgs);

    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease, scale 0.5s ease, translate 1s ease;
}
.Main-wrapperImg:hover{
    transform: scale(.95) translate(0px, -0.9375rem);
}

.Main-aWrapper {
    width: 20%;
    max-height: 25rem;
    flex-shrink: 0;
}

.Main-button {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    cursor: pointer;
    border-radius: 30%;

    position: absolute;
    top: 50%;
    
    transform: translateY(-50%);
}

.Main-button--prev {
    left: -1.5rem;
}

.Main-button--next {
    right: -1.5rem;
}

.Main-svgCarrousel {
    width: 2.5rem;
    min-height: 2.5rem;
}


/*Sección de recientes*/

.Main-background{
    background-color: var(--bg-color-transparency);
    border-radius: 15%;
}

.Main-container{
    width: 90%;
    min-height: 40vh;
    background-color: var(--bg-section-color);
    box-shadow: .3125rem .3125rem 1.875rem 1.25rem rgba(45, 45, 45, 0.636);
    border-radius: 5%;

    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1.875rem;

    margin: 0 auto 3.125rem;
    padding: 3.125rem 1.875rem;
}

.Main-containerimg{
    width: 100%;
    border: var(--border-imgs);

    transition: scale 1s ease;
}
.Main-containerimg:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 10px 15px #016e78;
}


/* Sección noticias */

.Main-noticias{
    width: 100%;
    min-height: 90vh;
}

.Main-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;

    padding: 2rem 3rem 6.25rem 7rem;
}

.Main-imgcontent{
    width: 100%;
    max-width: 18.75rem;
    max-height: 25rem;
    object-fit: cover;
    border: var(--border-imgs);

    z-index: 2;
    animation: appear 3s ease-in-out;
}

.Main-imgcontent.visible{
animation: appear 3s forwards;
}

.Main-article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;

    margin: 1.25rem 0;
    padding: 1.25rem 0;
}
.Main-article.visible{
    animation: slideInLeft 1.2s forwards;
}
.Main-article.hidden{
    animation: slideOutLeft 1.5s forwards;
}

.Main-h3{
    font-family: "title";
    font-size: 1.2em;
    color: var(--color-primary-text);


}
.Main-h3:hover{
    text-shadow: .5rem .5rem rgb(40, 39, 39);
    transform: scale(1.1);
    transition: scale 2s ease;
}

.Main-text{
    max-width: 90%;

    font-family: "text";
    color: var(--color-primary-text);
}

.Main-contentReverse{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;

    padding: 2rem 7rem 6.25rem 2rem;
    
}

.Main-imgReverse{
    width: 100%;
    max-width: 18.75rem;
    max-height: 25rem;
    object-fit: cover;
    border: 3px solid white;

    z-index: 2;
    animation: appear 5s forwards;
}

.Main-articleReverse{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1.875rem;

    margin: 1.25rem 0;
    padding: 1.25rem;
}
.Main-articleReverse.visible{
    animation: slideInRight 1.2s forwards;
}
.Main-articleReverse.hidden{
    animation: slideOutRight 1.5s forwards;
}

.Main-h3Reverse{
    font-family: "title";
    font-size: 1.2em;
    color: var(--color-primary-text);
    text-align: right;

    transition: scale 2s ease;
}
.Main-h3Reverse:hover{
    text-shadow: .5rem .5rem rgb(40, 39, 39);
    transform: scale(1.1);
}

.Main-textReverse{
    max-width: 90%;

    font-family: "text";
    color: var(--color-primary-text);
    text-align: right;
}

.Symbol{
    display: none;
}

/* Hacemos el responsive para poder adaptar la web a los diferentes
 tamaños y dispositivos */

@media (max-width: 1250px){
    .Main-bottom{
        padding: 0 6.25rem;
    }
}

@media (max-width: 1000px){
    .Main-bottom{
        padding: 0 3.125rem;
    }
    .Main-top{
        margin: 0;
    }
}

@media (max-width: 930px){
    .Main-message{
        font-size: 250%;
        min-height: 10rem;
        top: calc(50% - 3rem);
    }
    .Main-top{
        padding: 18.7rem 0 2rem;
    }
    .Main-container{
        padding: 4.5rem 1.875rem 2rem;
    
    }
 
    .Main-content , .Main-contentreverse{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 3.125rem 0 0;

        border-top: 2px solid white;
    }

    .Main-articlereverse{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

        padding: 0 0 0 7.5rem;
        gap: 1.25rem;
    }

    .Main-article{
        margin: 0 0 0 7.5rem;
        padding: 0;
        gap: 1.25rem;
    }

    .Main-h3reverse{
        text-align: left;
    }

    .Main-textreverse{
        margin: 0 0 5rem;
        text-align: left;
    }

    .Main-text{
        margin: 0 0 7.5rem;
    }
}


@media (max-width: 750px){
.Main-top{
    padding: 18.5rem 0 2rem;
}

.Main-message{
    top: calc(50% - 1rem);
}

.Main-carrousel{
    display: none;
}

.Main-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    overflow: scroll;
    
}
}


@media (max-width: 600px){
    .Main-message{
        font-size: 150%;
        top: calc(50% - -1rem);
    }

    .Main-h2{
        font-size: 140%;
        margin: 0;
    }

    .Main-article, .Main-articlereverse{
        margin: 0 0 0 1.875rem;
    }

    .Main-articlereverse{
        padding: 0;
    }
}


@media (max-width:450px){
    .Main-top{
        padding: 17.4rem 0 2rem;
    }
    .Main-message{
        font-size: 130%;
        top: calc(50% - -2rem);
        min-height: 8rem;
    }
}


