

/* PELICULAS */

.Main{
    width: 100%;
    background-color: var(--bg-color-primary);
    padding: 15.625rem 0 8rem;
}

.Main-article{
    background-color: var(--bg-color-transparency);
    padding: 6.25rem 0 1rem;
}

.Main-h2{
    font-family: "title";
    color: var(--color-primary-text);
    font-size: 2.5em;

    background-color: transparent;
    margin:0 0 6.25rem;
    text-align: center;
}

/* Damos estilo y colocamos la imágen y el texto dentro de su contenedora con flex */
.Main-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;

    padding: 0 6.25rem;
    margin: 0 0 3.125rem;
}

.Main-img{
    max-width: 25rem;
    max-height: 37.5rem;
    border: var(--border-imgs)
}

/* Damos estilo a todos los textos contenidos en .Main-description */
.Main-description{
    font-family: "text";
    color: var(--color-primary-text);
    font-size: 1.5vw;
    line-height: 3rem;

    margin: 2.5rem 0 0;
}

/* Damos un espacio entre lineas inferior para que se entienda que forma parte
todo de la misma sección */
.Main-cast{
    line-height: 1.875rem;
}

.Main-h3{
    font-family: "title";
    color: var(--color-primary-text);
    font-size: 1.8em;

    background-color: transparent;
    margin: 0 0 1.875rem 6.25rem;
}

/* Damos estilo y colocamos los iconos que te llevan a cada plataforma y les damos un efecto en hover*/
.Main-plataformas{
    width: 100%;
    max-height: 20vh;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 1.25rem;

    margin: 0 0 2.5rem;
    transition: transform 1s ease;
}

.Main-plataformas:hover {
    transform: scale(1.2);
}

.Main-p{
    font-family: "text";
    color: var(--color-primary-text);
    font-size: 1.6vw;
    line-height: 2.5rem;

    padding: 0 6.25rem;
    margin: 0 0 3.125rem;
}

/* Damos tamaño y comocamos el video */
.Main-iframe{
    width: 80%;
    max-height: 37.5rem;
    
    margin: 1.875rem 10% 9.375rem;
}

.Symbol{
    display: none;
}


@media (max-width: 930px){
    .Main{
        padding: 25rem 0 8rem;
    }

    .Main-h2{
        margin: 0 0 5rem;
    }
    
    .Main-info{
        flex-flow: column nowrap;
        align-items: center;
    }

    .Main-img{
        max-width: 18.75rem;
        max-height: 31.25rem;
    }

    .Main-description{
        font-size: 1.8vw;
    }

    .Main-p{
        font-size: 2vw;
        line-height: 2rem;
    }

    .Main-iframe{
        width: 80%;
        max-height: 21.875rem;
        margin:1.875rem 10% 9.375rem ;
    }
}

@media (max-width: 650px){
    .Main{
        padding: 22rem 0 6rem;
    }

    .Main-h2{
        font-size: 8vw;
    }

    .Main-info{
        padding: 0 4rem;
    }

    .Main-description{
        font-size: 2.5vw;
        line-height: 1.7rem;
    }

    .Main-h3{
        margin: 0 0 1.875rem 4rem;
    }

    .Main-p{
        font-size: 2.7vw;
        line-height: 2rem;

        padding: 0 4rem;
    }
}

@media (max-width: 480px){
    .Main-article{
        padding: 5rem 0 1rem;
    }

    .Main-description{
        font-size: 2.8vw;
        line-height: 1.5rem;
    }

    .Main-p{
        font-size: 3vw;
        line-height: 1.8rem;

        padding: 0 2rem;
    }
    
    .Main-h3{
        margin: 0 2rem;
    }

    .Main-iframe{
        width: 90%;
        max-height: 15.625rem;
        margin:1.875rem 5% 6.25rem ;
    }
}







