

/* Peliculas */

body {
    font-family: "text";
    background-color: #f0f0f0;
    color: #fff; 
}

.Main {
    width: 100%;
    
    padding: 1.25rem;
    background-color: #2c3e50; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: .625rem;
    
}

.Main-content {
    width: 100%;
    min-height: 50rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20rem 0 0 0;
}

.Main-header {
    text-align: center;
    margin: 0 0 1.5rem 0;
}

.Main-title {
    font-size: 2.5em;
    color: #fff;
}

.Main-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.Main-poster-container {
    width: 30%;
    max-height: 30rem;
    margin-bottom: 1.25rem;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.Main-poster {
    width: 100%;
    height: 30rem;
    border-radius: .625rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Main-details {
    width: 100%;
    
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: left;
    padding: 1rem;
    background-color: #34495e;
    border-radius: .625rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Main-sinopsis {
    font-size: 1.2em;
    margin-bottom: 1.25rem;
    color: #fff;
}

.Main-plataformas {
    gap: .9375rem;
    margin: 0 0 1.25rem 0;
}

.Main-plataformas img {
    width: 3.125rem;
    height: auto;
    transition: transform 0.3s;
}

.Main-plataformas img:hover {
    transform: scale(1.1);
}

.Main-trailer-container {
    
    width: 100%;
    max-width: 50rem;
    padding: 20rem 0 0 15rem; 
    
    overflow: hidden;
    margin: 1.25rem 0;
    position: relative;
}

.Main-trailer-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .625rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
