
/* FORMULARIO DE RECOMENDACIONES */

/* Damos propiedades al .Main para que siga el estilo del resto de páginas */
.Main{
    width: 100%;
    background-color: var(--bg-color-primary);
    overflow: hidden;
}

/* En .Main-container agrupamos tanto el formulario como el texto introductorio, le damos
padding para centrarlo y display flex para posicionarlos entre sí en respecto a la ventana */
.Main-container{
    padding: 15rem 12.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* Damos estilo al párrafo usando la tipografía y colores creados en el CSS de reset */
.Main-p{
    font-family: "title";
    font-size: 1.5em;
    color: var(--color-primary-text);
    text-align: center;
}

/* Damos estilo a la parte que agrupa todos los componentes del formulario y display para poder colocar
cada parte del mismo, añadimos position relative para posteriormente colocar el boton de submit */
.Main-formulario{
    width: 34.375rem;
    min-height: 80vh;
    background-color: var(--bg-section-color);
    border-radius: var(--border-radius);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 0 10rem;

    position: relative;
}

/* Damos estilo al párrafo introductorio */
.Main-h3{
    font-family: "title";
    color: var(--color-primary-text);
    font-size: 1.6em;
    background-color: transparent;

    margin: 0 0 2.5rem;
}

/* Damos estilo al los label que van sobre cada input */
.Main-label{
    font-family: "text";
    color: var(--color-primary-text);
    font-size: 1em;

    margin: 1.5rem 0 .9375rem;
    
}

/* Determinamos las propiedades de tamaño y espacios del input donde se rellenará el texto */
.Main-input{
    width: 100%;
    min-height: 2rem;
    border-radius: .5rem ;
    padding: 0 0 0 .625rem;
}

/* Damos tamaño y display flex a la etiqueta que contiene el label y el input para colocarlos en column */
.Main-campo{
    width: 18.75rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.Main-textarea{
    width: 100%;
    min-height: 5rem;
    border-radius: .5rem;
    padding: 0 0 0 .625rem;
}

/* Damos tamaño y añadimos un position para colocar el botón submit */
.Main-button{
    width: 20%;
    min-height: 3.5rem;
    
    position: absolute;
    top: 80%;
    left: 40%;
}

/* Damos estilo al texto del botón así como un efecto al hacer hover sobre el botón */
.Main-send{
    width: 100%;
    min-height: 3.5rem;
    border-radius: .5rem;
    background-color: var(--form-button-color);

    font-family: "title";
    font-size: 1.2em;
    color: var(--color-primary-text);

    transition: border .2s ease;
}
.Main-send:hover{
    border: 2px solid black;
}

.Symbol{
    display: none;
}


/* Adaptamos el tamaño del formulario y la posición del botón a pantallas grandes */
@media (min-width:1900px){
    .Main-button{
        top: 70%;
    }

    .Main-formulario{
        padding: 4rem 0 6rem;
    }
}

/* Modificamos el tamaño del formulario, los padding y el tamaño y posición del botón para
tamaños de pantalla pequeña */
@media (max-width:930px){
    .Main-container{
        padding: 25rem 8rem 15rem;
    }

    .Main-formulario{
        width: 25rem;
    }

    .Main-button{
        width: 30%;
        left: 35%;
    }
}

/* Para tablets y móviles cambiamos tamaños de tipografías, padding, tamaños, margins así como la posisción del botón */
@media (max-width:600px){
    .Main-container{
        padding: 22rem 2rem 12rem;
    }

    .Main-p{
        font-size: 5vw;
        text-align: center;
    }

    .Main-formulario{
        width: 70vw;
    }

    .Main-message{
        text-align: center;
        padding: 0 2rem;
        font-size: 5vw;
    }

    .Main-campo{
        width: 12.5rem;
    }

    .Main-button{
        width: 25%;
        min-height: 2.5rem;
        top: 85%;
        left: 37.5%;
    }

    .Main-send{
        font-size: 3.5vw;
    }
}

@media (max-width: 480px){
    .Main-button{
        width: 30%;
        min-height: 2.5rem;
        top: 85%;
        left: 35%;
    }

    .Main-h3{
        text-align: center;
    }

    .Main-send{
        font-size: 4vw;
    }
}